<!-- Login page. I have no idea how to do this.  -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin Login</title>
</head>
<body>
    <section>
        <form action="/login" method="post">
            <table class="form">
                <caption>Admin Login</caption>
                <tr>
                    <td colspan="2">
                        <input type="password" id="password" name="password" placeholder="Enter admin password" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Log In</button>
                    </td>
                </tr>
            </table>
        </form>
    </section>
</body>
</html>
