<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Link to external stylesheet -->
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/"><button class="link">Home</button></a>
            <a href="/donate"><button class="link">Donate</button></a>
            <a href="/request"><button class="link">Request an Event</button></a>
            <a href="/volunteer"><button class="link">Volunteer</button></a>
            <a href="/about"><button class="link">About</button></a>
        </div>
    </nav>

<main>
    <!-- Founder Section -->
    <section class="founder-section collapsible-section">
        <button class="collapsible-header">Meet Our Founder</button>
        <div class="collapsible-content">
            <img src="/images/Jen.png" alt="Founder Name" class="wrapped-image">
            <p>
                My addiction led me to being homeless on several occasions throughout my life, and during that time I personally knew seven people who froze to death. When I first learned about this lifesaving technology, my mind flooded with ideas on how many people's lives this could save. I'd recently been homeless during an extreme winter. It had been one of the coldest winters Utah had suffered in a long time, so the misery of surviving the bitter cold was still very fresh in my mind.
            </p>
            <p>
                While I was homeless I remember feeling the chill all the way to my bones. I couldn't even think or function. It completely zapped me of my energy so much that I was losing my will to live. Everything felt beyond overwhelming. Simple tasks, like finding a bathroom, seemed to feel like huge obstacles. The crazy thing about it was: I had a car I was living in; I had a storage unit I could hang out in during the day and at night; and I had an income that was sufficient for my needs. But being homeless completely broke me - even with all of the resources I had available to me.
            </p>
            <p>
                I began thinking that if homelessness crushed me, even with all that I had, then what would it do to someone who had much less, or even nothing?  I wanted to do something to help people with this burden. When I learned about foam clothing, I knew without a doubt that God was telling me -"THIS IS HOW YOU CAN HELP!"
            </p>
            <p>
                After a lot of prayer and asking God to put the right people in my path, I started talking to everyone about my desire to make foam clothing for the homeless. Eventually I told the right person and that is how I met Marian Edmonds-Allen. At the time Marian, an ordained minister, was the executive director for the Utah Pride Center. Prior to that she had served as the Executive Director of OUTreach Resource Centers and in 2015 was named a Petra Fellow for her work with LGBTQ homeless youth. 
            </p>
            <p>
                Marian was particularly interested in my idea for getting foam clothing into the hands of the homeless and arranged a meeting to hear more. But it was still just an idea.  The truth is I had no idea how to make the project happen, and at the time I had only been clean and sober for 7 months.  Things were put on hold for a while because Marian took a new job at Parity in New York and resigned from the Pride Center.  I had been in drug rehab, but I needed to finish getting clean, sober, and stable.  My recovery sponsor kept telling me that this was God's project, not mine, and I needed to let go and let God make this happen in HIS time.
            </p>
            <p>
                After about 2 years, in January 2017, God led me to Angela Roth.  Angela is someone who not only knows how to create a pattern but can sew like a rock star! Coincidentally, when I met her she had been praying for an opportunity to use her sewing and patterning talents to do something truly meaningful for people with a genuine need.  We teamed up and started the Turtle Shelter Project!
            </p>
            <p>
                We decided to make vests because we thought a simple vest would be able to keep a person's core warm.  If your core is warm, the rest of you stays warm longer.  We came up with a vest pattern that would be fairly easy for volunteers to make and keep production cost down.  After purchasing materials for 50 vests, we had only spent $30 for each one. The goal was to use labor donated by volunteers. This would give people the opportunity to serve in any capacity, whether it be time or money, and to truly do something meaningful that can help save lives. 
            </p>
            <p>
                Between September 2017 and January of 2018, with the help of many volunteers, we produced 50 TSP vests.  We handed some out to people experiencing homelessness to do some field testing for us and let us know how they worked.  The response has been excellent!  As a result of their feedback, we have made improvements to the vests.  We have added hoods, pockets, and a sturdy belt to help them fit better. We have also used some of the vests to do field testing by ourselves and friends and family who were willing. The results have been very encouraging!!
            </p>
            <p>
                We want these vests to go to people living outdoors or who don't have access to shelters, because they are the ones who need this technology the most.  The vests are called "Turtle Shelters" because they are a portable shelter - just like a turtle taking its shelter with it.  Wearing a Turtle Shelter Vest makes having a source of heat a nicety, but not a necessity because the foam insulation in the vest will harness the body's heat and conserve it.  The vests are very well made to provide durability, wind resistance, insulation, and comfort.  They are a very effective way to help provide life-saving warmth.
            </p>
        </div>
</section>

<!-- Technology Section -->
<section class="vests-section collapsible-section">
    <button class="collapsible-header">About Our Vests</button>
    <div class="collapsible-content">
        <p>
            Foam clothing technology was invented by outdoor survival expert Jim Phillips. He has done extensive testing using <b>open-cell polyurethane foam as the insulation layer</b> in jackets, hoods, pants, boots, gloves, and sleeping bags.
        </p>
        <p>
            Jim Phillips' foam clothing is brilliant technology because of what it can do to help save a person's life in freezing temperatures. The insulation layer foam clothing provides is so effective that even if a person gets wet it will keep them warm -- <b>BUT, wearing synthetic fabrics is an important layer to include with the foam clothing.</b> Foam clothing can be effective while wearing cotton if the wearer stays dry, but if the wearer gets wet, the cotton will absorb and hold water and keep the wearer cold.  If a person is <b>not wearing any cotton</b> with the foam clothing, and they happen to get wet, they will still be able to maintain their core body temperature.  The reason why this works is because the shell and lining fabrics and the foam are all synthetic and breathable - providing moisture wicking properties and allowing perspiration and other moisture to evaporate.
        </p>
        <p>
            <b>Foam clothing dramatically reduces moisture as being a threat to a person's life in the cold!</b>
        </p>
        <p>
            Foam clothing is marketed to emergency preparedness and extreme sports audiences because of its ability to keep you warm in winter conditions.  Being cold is one thing, but being cold and wet is miserable. Being cold, wet, and without shelter can be life threatening. 
        </p>
        <p>
            This technology is usually sold in emergency preparedness venues and super expensive. It does make sense because the technology is super valuable that the clothing should cost a lot, but we disagree:  nobody likes to be cold and people function a lot better when they are not freezing to death!  So we created a foam vest that covers the core and we called the Turtle Shelter because it acts like a shelter and harnesses the wearer's body heat even <b>while wet and even in freezing temperatures.</b>
        </p>
        <p>
            <b>Jen's perspective:  Every life has value!</b><br>
            "Hearing about this technology in an emergency Preparedness venue provoked a lot of thought about how many homeless peoples lives could not only be saved but also improved by this technology? Emergency preparedness is all about people getting prepared for when disaster strikes...and it seems like to get prepared can be pretty pricey...but isn't a person who is homeless living in their emergency right this very moment? They are not waiting for disaster to strike because for them it already has and I know from experience that once the disaster of homelessness strikes it can be extremely hard to recover from it. For many it is far more than simply losing a home or a place to stay...for me and many others it was also about losing my confidence, my energy, my drive, and even my hope...I felt completely broken and defeated!
        </p>
        <p>
            I remember how every simple task felt like an overwhelming obstacle but even more so when it was so cold I couldn't even think. Everything just felt harder when it was cold and wet and miserable...
            I believe that this foam clothing can help relieve some of the suffering for anyone who is homeless and living in the cold...I believe it doesn't have to cost a lot to make these. Not for the homeless and not for our families...lives can be saved from this technology."
        </p>
    </div>
</section>

<!-- Homelessness and Hypothermia Section -->
<section class="hypothermia-section collapsible-section">
    <button class="collapsible-header">Homelessness and Hypothermia</button>
    <div class="collapsible-content">
        <img src="/images/logo_small.jpg" alt="NHC logo" class="wrapped-image"/>
        <p>
            Each year, as winter approaches and the temperature begins to drop, many homeless people move from the streets to their city’s shelter system to escape the cold. However, few communities have city-wide cold-weather response plans, and many of the plans currently in place leave gaping holes in accessibility.
        </p>
        <p>
            In rural areas, shelters often have no outside resources to help them cope with the increased demand caused by cold weather conditions. Many shelters or cities offer expanded winter services only during certain months or only when the temperature falls below a pre-determined and arbitrary cut-off temperature. Above those cut-offs (<b>hypothermia can occur in weather as warm as 50 degrees Fahrenheit</b>) many cities do not offer resources to help the homeless people escape from the cold.
        </p>
        <p>
            Without a carefully constructed winter plan, homeless service facilities may find themselves unable to accommodate the influx of residents, and some of those people who seek shelter are turned out into the cold. <b>With nowhere to stay except the streets, people experiencing homelessness have a much higher risk than the general population of developing exposure-related conditions such as hypothermia and frostbite. These conditions can be immediately life threatening and may also increase the risk of dying from unrelated conditions in the future</b>. Increased homeless services, especially additional shelter availability, are necessary to accommodate the amplified need in the winter.
        </p>
        <p>
            <i>From the <a href="https://nationalhomeless.org/winter-homelessness/" target="_blank">Dangers of Cold Weather</a> from the National Coalition for the Homeless</i>
        </p>
        <p>
            From the National Health Care for the Homeless Council, <a href="https://nhchc.org/clinical-practice/diseases-and-conditions/cold-related-injuries/" target="_blank">Cold-Related Injuries</a> 
        </p>
    </div>
</section>

<section class="faq-section collapsible-section">
    <button class="collapsible-header">Frequently Asked Questions (FAQs)</button>
    <div class="collapsible-content">
        <div class="faq-item">
            <p class="faq-question"><strong>How long have you been doing this?</strong></p>
            <div class="faq-answer">
                <p>Jen got the idea for the Turtle Shelter Project in 2015 to help keep people experiencing homelessness from freezing to death. We officially incorporated 3 April 2017, on Jen's sobriety anniversary. Our 501c3 status was granted in 2018. </p>
                <p>Between September 2017 and January 2018, with a combined 450 volunteer hours, we completed 50 prototype vests to be tested.</p>
            </div>
        </div>
        <div class="faq-item">
            <p class="faq-question"><strong>If you want to help homeless people be warm, why not just do a coat drive?</strong></p>
            <div class="faq-answer">
                <p>The foam insulation layer combined with moisture wicking fabrics creates a more effective insulation layer than other winter clothing. Clothing made from foam will provide warmth even if it is wet – it allows the wearer to maintain their core body temperature. You can read more about it in “OUR TECH.”</p>
            </div>
        </div>
        <div class="faq-item">
            <p class="faq-question"><strong>What does the turtle in your logo have to do with your project?</strong></p>
            <div class="faq-answer">
                <p>A turtle carries its shelter wherever it goes. Our insulated vests are intended to be a portable “shelter.” Instead of having to find shelter, a person can carry their shelter on their back, like a turtle. </p>
            </div>
        </div>
        <div class="faq-item">
            <p class="faq-question"><strong>How/where are the vests distributed?</strong></p>
            <div class="faq-answer">
                <p>During the winter of 2017-18, the distribution and testing were done mainly in the Ogden area with the help and support of The Episcopal Church of the Good Shepherd and the staff at Youth Futures.</p>
                <p>Winter 2018-19 we have been able to distribute vests both to shelters and to individuals in the Ogden and Salt Lake City communities.</p>
            </div>
        </div>
        <div class="faq-item">
            <p class="faq-question"><strong>Why don't you just have a professional sewing shop make the vests?</strong></p>
            <div class="faq-answer">
                <p>We talked about this idea early in our planning stages, but ultimately decided that our mission had 2 parts - help the homeless or others in need of warm clothing, and provide an opportunity for any willing person to serve. That was how we came up with our motto: Every Life Has Value; Every Person Can Serve. </p>
            </div>
        </div>
        <div class="faq-item">
            <p class="faq-question"><strong>I want to help, but I don't sew</strong></p>
            <div class="faq-answer">
                <p>Turtle Shelter Project vests are designed to be made by volunteers who have no special sewing skills. We can put any willing volunteer to work who can use a marker or a pair of scissors. Although we do need people with basic and advanced sewing skills, there are lots of the steps that can be done by those with no sewing skills. The final construction is done by our expert staff. The completed vests are then returned to the community where volunteers made them - or to another area with need.</p>
            </div>
        </div>
        <div class="faq-item">
            <p class="faq-question"><strong>We don't live close to your Northern Utah operation. Can we still help?</strong></p>
            <div class="faq-answer">
                <p>Yes! Yes! Yes!</p>
                <p>We can send parts of the vests to be cut, marked, and/or completed by your group and sent back to us, or we can provide materials and training so you can complete entire vests and distribute them in your area.</p>
                <p>We live by the motto that every person can serve, and we will accommodate anyone who wants to help - we are only limited by our funding. Send us a note and we will coordinate the best project for you and/or your group. </p>
            </div>
        </div>
        <div class="faq-item">
            <p class="faq-question"><strong>How much of my donation goes to overhead?</strong></p>
            <div class="faq-answer">
                <p>Our overhead costs are very limited because our staff is 100% volunteer. We have no paid employees. Our yearly operating costs include business registration, website hosting and support, post office box rental, and liability insurance. Other expenses have been to purchase things like scissors and sewing machines. During 2018 these costs were about 25% of our total budget. </p>
                <p>Also, if you would like to make a donation specifically for materials or a certain part of our project, we will honor your request.</p>
            </div>
        </div>
    </div>
</section>





</main>
<footer>
    <p>Created by Anna Young, Harmony Tayler, Josh Locke, and Madison Hein</p>
</footer>

<script>
    // JavaScript for collapsible sections
    document.querySelectorAll('.collapsible-header').forEach(header => {
        header.addEventListener('click', function () {
            const content = this.nextElementSibling;

            // Toggle 'show' class to control visibility
            content.classList.toggle('show');

            // Optional: Change button text or style when expanded
            this.classList.toggle('active');
        });
    });
</script>
</body>
</html>
