<!-- Form to add a past event -->

<!DOCTYPE html>
<html>
<head>
    <title>Add Past Event</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/landing2"><button class="link">Admin Tools</button></a>
            <a href="/"><button class="link">Home Page</button></a>
        </div>
    </nav>

    <form action="/addPast" method="POST">
        <table>
            <caption>Add Past Event</caption>
            <tr>
                <td><label for="description">Description</label></td>
                <td><input type="text" id="description" name="description" required></td>
            </tr>
            <tr>
                <td><label for="anticipated_participants">Anticipated Participants</label></td>
                <td><input type="number" id="anticipated_participants" name="anticipated_participants"></td>
            </tr>
            <tr>
                <td><label for="actual_participants">Actual Participants</label></td>
                <td><input type="number" id="actual_participants" name="actual_participants"></td>
            </tr>
            <tr>
                <td><label for="under_ten">Under Ten</label></td>
                <td><input type="number" id="under_ten" name="under_ten"></td>
            </tr>
            <tr>
                <td><label for="actual_date">Event Date</label></td>
                <td><input type="date" id="actual_date" name="actual_date" value="<%= new Date().toISOString().split('T')[0] %>"></td>
            </tr>
            <tr>
                <td><label for="start_time">Start Time</label></td>
                <td><input type="time" id="start_time" name="start_time"></td>
            </tr>
            <tr>
                <td><label>Event Type</label></td>
                <td style="text-align: left;">
                    <input type="radio" name="type" value="Sewing"> Sewing<br>
                    <input type="radio" name="type" value="Non-sewing"> Non-sewing<br>
                    <input type="radio" name="type" value="Both"> Both
                </td>
            </tr>
            <tr>
                <td><label for="address">Address</label></td>
                <td><input type="text" id="address" name="address"></td>
            </tr>
            <tr>
                <td><label for="duration">Duration</label></td>
                <td><input type="text" id="duration" name="duration"></td>
            </tr>
            <tr>
                <td><label for="contact_name">Contact Name</label></td>
                <td><input type="text" id="contact_name" name="contact_name"></td>
            </tr>
            <tr>
                <td><label for="contact_phone">Contact Phone</label></td>
                <td><input type="text" id="contact_phone" name="contact_phone"></td>
            </tr>
            <tr>
                <td><label for="contact_email">Contact Email</label></td>
                <td><input type="text" id="contact_email" name="contact_email"></td>
            </tr>
            <tr>
                <td><label for="machines">Machines</label></td>
                <td><input type="number" id="machines" name="machines"></td>
            </tr>
            <tr>
                <td><label for="sewers">Sewers</label></td>
                <td><input type="number" id="sewers" name="sewers"></td>
            </tr>
            <tr>
                <td><label>Should Jen share her story?</label></td>
                <td style="text-align: left;">
                    <input type="radio" name="story" value="Yes, long"> Yes, Long<br>
                    <input type="radio" name="story" value="Yes, no"> Yes, Short<br>
                    <input type="radio" name="story" value="No"> No
                </td>
            </tr>
            <tr>
                <td><label for="members_needed">Members Needed</label></td>
                <td><input type="number" id="members_needed" name="members_needed"></td>
            </tr>
            <tr>
                <td><label for="pockets">Pockets Completed</label></td>
                <td><input type="number" id="pockets" name="pockets"></td>
            </tr>
            <tr>
                <td><label for="collars">Collars Completed</label></td>
                <td><input type="number" id="collars" name="collars"></td>
            </tr>
            <tr>
                <td><label for="envelopes">Envelopes Completed</label></td>
                <td><input type="number" id="envelopes" name="envelopes"></td>
            </tr>
            <tr>
                <td><label for="vests">Vests Completed</label></td>
                <td><input type="number" id="vests" name="vests"></td>
            </tr>
            <tr>
                <td><label for="notes">Notes</label></td>
                <td><input type="text" id="notes" name="notes"></td>
            </tr>
            <tr>
                <td colspan="11" style="text-align: center; width: 100%;">
                    <button class="table-button" type="submit">Add Event</button>
                </td>
            </tr>
        </table>
    </form>

    <form action="/pastEvents" method="GET">
        <button type="submit">Back</button>
    </form>
</body>
</html>
