<!-- Form to add a volunteer -->

<!DOCTYPE html>
<html>
<head>
    <title>Add Volunteer Request</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/landing2"><button class="link">Admin Tools</button></a>
            <a href="/"><button class="link">Home Page</button></a>
        </div>
    </nav>
    
    <form action="/addVolunteer" method="POST">
        <table class="form">
            <caption>Add Volunteer</caption>
            <tr>
                <td><label for="first_name">First Name</label></td>
                <td><input type="text" id="first_name" name="first_name" required></td>
            </tr>
            <tr>
                <td><label for="last_name">Last Name</label></td>
                <td><input type="text" id="last_name" name="last_name" required></td>
            </tr>
            <tr>
                <td><label for="phone">Phone Number</label></td>
                <td><input type="text" id="phone" name="phone" required></td>
            </tr>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input type="text" id="email" name="email" required></td>
            </tr>
            <tr>
                <td><label for="referral_source">Referral Source</label></td>
                <td><input type="text" id="referral_source" name="referral_source" required></td>
            </tr>
            <tr>
                <td><label>Sewing Level</label></td>
                <td style="text-align: left;">
                    <input type="radio" name="sewer" value="Beginner" checked> Beginner<br>
                    <input type="radio" name="sewer" value="Intermediate"> Intermediate<br>
                    <input type="radio" name="sewer" value="Experienced"> Experienced
                </td>
            </tr>
            <tr>
                <td><label for="monthly_hours">Monthly Hours</label></td>
                <td><input type="float" id="monthly_hours" name="monthly_hours"></td>
            </tr>
            <tr>
                <td><label for="city">City</label></td>
                <td><input type="text" id="city" name="city" required></td>
            </tr>
            <tr>
                <td><label for="travel">Travel</label></td>
                <td><input type="text" id="travel" name="travel" required></td>
            </tr>
            <tr>
                <td><label for="take_charge">Leader</label></td>
                <td style="text-align: left;"><input type="radio" id="take_charge" name="take_charge" value="yes">Yes<br>
                    <input type="radio" id="take_charge" name="take_charge" value="no">No</td>
            </tr>
            <tr>
                <td><label>Status</label></td>
                <td style="text-align: left;">
                    <input type="radio" name="status" value="Active"> Active<br>
                    <input type="radio" name="status" value="Pending" checked> Pending<br>
                    <input type="radio" name="status" value="Denied"> Denied
                </td>
            </tr>
            <tr>
                <td colspan="11" style="text-align: center; width: 100%;">
                    <button class="table-button" type="submit">Add Volunteer</button>
                </td>
            </tr>
        </table>
    </form>
    <form action="/showVolunteers" method="GET">
        <button type="submit">Return</button>
    </form>

    <main></main>
    <footer>
        <div class="footer-left">
            <a href="/login">Admin Portal</a>
            <a href="/about">About</a>
            <a href="/volunteer">Volunteer</a>
        </div>
        <div class="footer-right">
            <p>© 2024 Turtle Shelter Project. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>