<!-- View all the details of a single past event when you click on it -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Completed Products</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/landing2"><button class="link">Admin Tools</button></a>
            <a href="/"><button class="link">Home Page</button></a>
        </div>
    </nav>
    <table class="view">
        <caption>Total Completed Products</caption>
        <tr>
            <td><label>Pockets Total</label></td>
            <td><p><%= totalpockets %></p></td>
        </tr>
        <tr>
            <td><label>Collars Total</label></td>
            <td><p><%= totalcollars %></p></td>
        </tr>
        <tr>
            <td><label>Envelopes Total</label></td>
            <td><p><%= totalenvelopes %></p></td>
        </tr>
        <tr>
            <td><label>Vests Total</label></td>
            <td><p><%= totalvests %></p></td>
        </tr>
    </table>
        <main></main>
    <footer>
        <div class="footer-left">
            <a href="/login">Admin Portal</a>
            <a href="/about">About</a>
            <a href="/volunteer">Volunteer</a>
        </div>
        <div class="footer-right">
            <p>© 2024 Turtle Shelter Project. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
