<!-- Form to donate (for anyone) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Link to external stylesheet -->
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/"><button class="link">Home</button></a>
            <a href="/donate"><button class="link">Donate</button></a>
            <a href="/request"><button class="link">Request an Event</button></a>
            <a href="/volunteer"><button class="link">Volunteer</button></a>
            <a href="/about"><button class="link">About</button></a>
        </div>
    </nav>

    <section class="donate-section">
        <h1>How You Can Help</h1>

        <!-- Explanation about the cost of the vest and mailing address -->
        <p>Each $30 tax-deductible donation to the Turtle Shelter Project will provide a high tech foam vest for a youth or adult experiencing homelessness.  You can tell us where you would like the vest or vests sent to, or we will send them to where there is the greatest need.</p>
        <p>The Turtle Shelter Project is a <a href="https://static1.squarespace.com/static/5b5a266fcef372310148d6d6/t/5b8ed16603ce64b166f94ba9/1536086378062/501c3+p1.jpeg">501 (c)(3) non-profit, EIN 82-1035303.</a></p>

        <br><br><br>
        <p><b>You can mail a check to:</b> <br>
            &nbsp;&nbsp;&nbsp;&nbsp;Turtle Shelter Project <br>
            &nbsp;&nbsp;&nbsp;&nbsp;PO Box 382 <br>
            &nbsp;&nbsp;&nbsp;&nbsp;Kaysville, Utah 84037 <br><br>
            <b>Or donate securely online:</b></p>

        <!-- Donate Button -->
        <a href="https://turtleshelterproject.org/checkout/donate?donatePageId=5b6a44c588251b72932df5a0" class="donate-button">
            <button>Donate</button>
        </a>
    </section>

</body>
</html>
