<!-- Second landing page, once someone has logged in. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Landing Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <main>
        <section>
            <!-- Button Forms -->
            <form action="/users" method="GET">
                <button type="submit">users</button>
            </form>
            <form action="/showVolunteers" method="GET">
                <button type="submit">volunteers</button>
            </form>
            <form action="/eventRequests" method="GET">
                <button type="submit">event request</button>
            </form>
            <form action="/viewRequest" method="GET">
                <button type="submit">view event requests??</button>
            </form>
            <form action="/pastEvents" method="GET">
                <button type="submit">past events</button>
            </form>
        </section>
    </main>
</body>
</html>


<!-- Buttons to maintain users, volunteers, event requests, scheduled events, and past events -->
