<!-- Form to request an event -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Request an Event</title>
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/"><button class="link">Home</button></a>
            <a href="/donate"><button class="link">Donate</button></a>
            <a href="/request"><button class="link">Request an Event</button></a>
            <a href="/volunteer"><button class="link">Volunteer</button></a>
        </div>
    </nav>
</body>
</html>